.dashboard {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    & img{
        max-width: 265px;
        height: auto;
    }

    & h3{
        font-size: 1.5rem;
        color: #353945;
        margin: 42px 0 15px;
    }

    & p{
        font-size: 1rem;
        color: #777E91;
    }

    & button{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 55px;
        margin-bottom: 100px;
        padding: 16px 100px;
        background-color: #63960b;
        border-radius: 16px;

        font-weight: 700;
        font-size: 1rem;
        color: #ffffff;

        transition: all .2s linear;

        & img{
            margin-right: 10px;
        }

        &:hover{
            background-color: #548302;
        }
    }
}



















