<div class="dashboard container">
    <div class="dashboard_image">
        <img src="../../assets/dashboard_image.png" alt="">
    </div>
    <div class="dashboard_title">
        <h3>Dashboard will be available in next release</h3>
    </div>
    <div class="dashboard_info">
        <p>Current version 1.01</p> <p> Visit www.leechprotocol.com to get more details.</p>
    </div>
    <div class="dashboard_button">
        <button>
            <img src="../../assets/dashboard_button.svg" alt="">
            <span>Visit leechprotocol</span>
        </button>
    </div>
</div>
